<main class="inner">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Links Favoritos</h1>
            <h3 class="mb-5">
                <em>Almacena tus links favoritos en la nube.</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Comienza ahora...
            </a>
        </div>
    </header>
</main>