<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Inicia Sesión</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo_vacio.png" alt="Logo" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <hr>
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Iniciar Sesión
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>